.price {
  composes: text from global;
  display: flex;
  align-items: center;
}

.default {
  composes: text_type_digits-default from global;
}

.medium {
  composes: text_type_digits-medium from global;
}

.price>svg {
  margin-left: 9px;
}
.medium>svg {
  width: 32px;
  height: 32px;
}