.scroller {
  max-height: 600px;
  overflow-y: auto;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
  overflow-x: hidden;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}

.scroller::-webkit-scrollbar-track {
  background: #2F2F37;
}

.scroller::-webkit-scrollbar-thumb {
  background: #8585AD;
}