.card {
  max-width: 640px;
  margin: 0 auto;
  color: #f2f2f3;
}

.id {
  text-align: center;
  composes: text_type_digits-default text mb-10 mt-20 from global;
}

.item {
  composes: mb-4 from global;
}

.item:last-of-type {
  margin-bottom: 0;
}