.navbar{
    width: 1280px;
}
.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.logo {
    transform: translateX(-70px);
    align-self: center;
}
.item_wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    color: inherit;
}