.item_container {
    display: flex;
    align-items: center;   
    width: 100%;
    justify-content: flex-end;
    list-style: none;
    cursor: move;
}

.item_container svg {
    margin-right: 8px;
}
.item_container div {
   flex-grow:1;
}
.item_container span:first-of-type + span {
    flex-grow: 1;
}

.list_item {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}