.text {
    composes: text text_type_main-default from global;
  }
  .nutrition_item {
    min-width: 120px;
    list-style: none;
    padding: 0;
    composes: ml-5 from global;
  }
  .nutrition_item:first-of-type {
    margin-left: 0;
  }
  .value {
    composes: mt-2 text text_type_digits-default from global;
  }