.link {
    display: flex;
    font-size: 16px;
    align-items: center;
    line-height: 24px;
    text-decoration: none;
    color: #f2f2f3;

  }

  .link:first-of-type {
    margin-left: 0;
  }

  .text {
    margin-left: 4px;
    color: #8585ad;
  }

  .text:hover,
  .text:active {
    color: #f2f2f3;
  }

  .text_active {
    color: #f2f2f3;
  }

  .icon {
    margin-right: 4px;
    display: flex;
    color: #8585ad;
  }

  .link:first-of-type {
    margin-left: 0;
  }
